@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter/Inter-VariableFont_opsz\,wght.ttf);
}

@layer utilities {
    /*
      Chromium browsers don't render nested backdrop filters.
      As a workaround, add 'before:' to the outer filter, along with 'before:backdrop-hack':
  
        <div class="before:backdrop-blur-md before:backdrop-hack>
          <div class="backdrop-blur-md"></div>
        </div>
  
      See https://stackoverflow.com/a/76207141.
    */
    .backdrop-hack {
      @apply absolute inset-0 -z-10;
    }
  }
